/* Empty. Add your own CSS if you like */
.background , .background .item, .background span, .background input{
  background: #ec1c24;
  color: #fff !important;
  
}

.background h1, .background  {
  color: #fff;
  text-align: center;
}

.background .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.background .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.logo-login {  
  width: 50%

}
.img-download {
  /*width: 120px !important;*/
}
.text-center {
  text-align: center;
}
.input-username {
  /*text-transform: lowercase;*/
}

.btn-login {
  width: 50%;
  background-color: #fff;
}