<ion-view view-title="Download"  cache-view="false">
    
  <ion-content>
    
    <div class="list card text-center">

      <div class="item ">
        <!-- <img src="avatar.jpg"> -->
        
        <h2>{{nome}}</h2>
        <p></p>
      </div>
      
      <div class="item item-image">
        <img ng-src="{{image}}" class="img-download"  />
      </div>

      

      <a class="item  assertive"  ng-click="exturl('{{path_pdf}}')">
        <i class="icon ion-archive text-center"></i>
        Download
      </a>

    </div>
  </ion-content>
</ion-view>
